<h2>Products</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td> {{ product.id }} </td>
      <td> <a [routerLink]="['/products', product.id]"> {{ product.name }} </a> </td>
      <td> {{ product.price | currency }} </td>
      <td> {{ product.description }} </td>
      <td> <button (click)="share()">Share</button> </td>
    </tr>
  </tbody>
</table>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->